@font-face {
    font-family: Robinson Press;
    src: url('./assets/fonts/RobinsonPress.woff');
}

body {
    color: #fff;
    background: #181e30;
    font-family: Robinson Press;
}

main{
    margin: 20px;
}

header {
    text-align: center;
    padding: 10px 30px;
}

header h1 {
    font-size: 80px;
    font-weight: 300;
}

header p{
    font-size: 36px;
}

.alphabet-characters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
    font-size: 1.5em;
    font-size: 28px;
    padding: 0;
}

.characters:hover{
    color: white;
    text-shadow: -2px -3px 2.1px grey, 0px -2px 1px grey, -2px 0px 0 grey, -1px 1px 0 grey;
    box-shadow: 0 0.5em 0.5em -0.4em whitesmoke;
    transform: translateY(-0.25em);
    cursor: pointer;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #555;
    text-align: center;
}
footer .copyright a {
    color: #666;
}
footer .copyright a:hover {
    color: #777;
}
footer .copyright:before {
    content: '©';
}
